<h1>Listing memberships</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Item</th>
    <th>Exclude</th>
  </tr>

<% @memberships.each do |membership| %>
  <tr>
    <td><%= link_to membership.group.name, membership.group %></td>
    <td><%=h membership.item_type %>: <%= link_to membership.item.name, membership.item %></td>
    <td><%=h membership.exclude %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @memberships %>
