<h1>Listing memberships</h1>

<table>
  <tr>
    <th>Group</th>
    <th>Item</th>
    <th>Exclude</th>
  </tr>

<% @memberships.each do |membership| %>
  <tr>
    <td><%=h membership.group.name %></td>
    <td><%=h membership.item_type %>: <%=h membership.item.name %></td>
    <td><%=h membership.exclude %></td>
    <td><%= link_to 'Show', membership %></td>
    <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
    <td><%= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New membership', new_membership_path %>