<h1>Listing movies</h1>

<% form_tag movies_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Title</th>
<!--    <th>Code</th> -->
    <th>Studio</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Minutes</th>
    <th>Released on</th>
    <th>Budget</th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%=h movie.title %></td>
<!--    <td><%=h movie.code %></td> -->
    <td><%=h movie.studio.name %></td>
    <td><%=h movie.genre.name %></td>
    <td><%=h movie.rating.code %></td>
    <td><%=h movie.minutes %></td>
    <td><%=h movie.released_on %></td>
    <td><%=h movie.budget %></td>
    <td><%= link_to 'Results', movie_results_path(movie) %></td>
    <td><%= link_to 'Plot', movie_grosses_path(movie, :format => 'line') %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @movies, {:remote => true} %>
