<p>
A simple interface to Box Office Mojo movie results. Click on <strong>Table</strong> or <strong>Plot</strong> to show movie grosses.
</p>

<table>
  <tr>
    <th class="title">Title</th>
<!--    <th>Code</th> -->
    <th class="studio">Studio</th>
    <th class="genre">Genre</th>
    <!--th>Rating</th-->
    <!--th>Minutes</th-->
    <th class="released">Released</th>
    <th class="budget">Budget</th>
    <th class="gross">Gross</th>
  </tr>

<% @movies.each do |movie| %>
  <tr <%= alternate_class %>>
    <td class="title"><%= movie.title %></td>
<!--    <td><%=h movie.code %></td> -->
    <td class="studio"><%= movie.studio.name %></td>
    <td class="genre"><%= movie.genre.name %></td>
    <!--td><%=h movie.rating.code %></td-->
    <!--td><%=h movie.minutes %></td-->
    <td class="released"><%=h movie.released_on %></td>
    <td class="budget"><%=h movie.print_budget %></td>
    <td class="gross"><%= link_to 'Table', movie_results_path(movie) %>
      <%= link_to 'Plot', movie_grosses_path(movie) %></td>
  </tr>
<% end %>
</table>

<% form_tag movies_path, :method => 'get', :id => 'search_form' do %>
  <fieldset>
  <label for="search">Filter title:</label>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "OK", :name => nil %>
  </fieldset>
<% end %>


<%= will_paginate @movies %>

