<h1>New movie</h1>

<% form_for(@movie) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </p>
  <p>
    <%= f.label :studio_id %><br />
	  <%= select("movie", "studio_id", Studio.find(:all).collect {|s| 
		[ s.code, s.id ] 
		})%>
  </p>
  <p>
    <%= f.label :genre_id %><br />
	  <%= select("movie", "genre_id", Genre.find(:all).collect { |g| 
		[ g.name, g.id ] 
		})%>
  </p>
  <p>
    <%= f.label :rating_id %><br />
	  <%= select("movie", "rating_id", Rating.find(:all).collect { |r| 
		[ r.code, r.id ] 
		})%>
  </p>
  <p>
    <%= f.label :minutes %><br />
    <%= f.text_field :minutes %>
  </p>
  <p>
    <%= f.label :released_on %><br />
    <%= f.date_select :released_on %>
  </p>
  <p>
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', movies_path %>