
<table class="results">
  <tr>
    <th class="week">Weekend</th>
    <th class="period">Starting</th>
    <th class="position">Position</th>
    <th class="gross">Gross</th>
    <!--th>Rating</th-->
    <!--th>Minutes</th-->
    <th class="cume">Cume</th>
    <th class="theaters">Theaters</th>
  </tr>


<% @results.each do |result| %>
  <tr <%= alternate_class %>>
    <td><%=h result.periods %></td>
    <td><%=starts result.period %></td>
    <td><%=h result.position %></td>
    <td><%=h number_to_currency(result.gross, :precision => 0) %></td>
    <td><%=h number_to_currency(result.cumulative, :precision => 0) %></td>
    <td><%=h number_with_delimiter(result.theaters) %></td>
  </tr>
<% end %>

</table>

<div class="to_plot">
  <%= link_to 'Show results as a plot', movie_grosses_path(@movie) %>
</div>

<%= will_paginate @results %>
